extends ../../layouts/frontend

block content 
    .container
        section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
            .container
                .row.justify-content-center
                    .col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
                        .d-flex.justify-content-center.py-4
                            a.logo.d-flex.align-items-center.w-auto(href="#")
                                img(src="/assets/img/logo.png")
                                span.d-none.d-lg-block Project Name Here...
                        // End Logo
                        .card.mb-3
                            .card-body
                                .pt-4.pb-2
                                    h5.card-title.text-center.pb-0.fs-4 Forgot your Password
                                    p.text-center.small Enter your email address
                                form.row.g-3.needs-validation(novalidate)
                                    .col-12
                                        label.form-label(for="email") Email
                                        .input-group.has-validation
                                            span#inputGroupPrepend.input-group-text @
                                            input#email.form-control(type="text", name="email", required)
                                            .invalid-feedback Please enter your username.
                                    .col-12
                                        button.btn.btn-primary.w-100(type="submit") Save
                                    .col-12
                                        p.small.mb-0
                                            a(href="/login") Go Back
